# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Crash logs
crash.log

# Ignore local override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore plan files
*.plan
plan.out

